.root {
  font-family: 'Wanderlust';
  font-size: 130px;
  line-height: 130px;
  letter-spacing: 1px;
  text-align: center;
}
@font-face {
  font-family: 'Wanderlust';
  src: url('./fonts/Wanderlust.ttf') format('truetype');
}
