.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.small {
    .logo {
      font-size: 32px;
      line-height: 32px;
    }

    .slogan {
      font-size: 10px;
      line-height: 16px;
    }
  }

  .logo {
    font-size: 130px;
    line-height: 100px;
    letter-spacing: 1px;
    font-family: 'Wanderlust';

    text-align: center;
  }
  .slogan {
    font-family: 'Cunia';
    font-size: 18px;
    color: gray;
  }
}
