.root {
  font-family: 'Poppins', Arial, sans-serif;
  --sidebar-opened-width: 300px;
  --sidebar-closed-width: 80px;
  .sider {
    height: 100vh;
    width: var(--sidebar-opened-width);
    position: fixed;
    left: 0;
    background: var(--white);
    box-shadow: 7px 0 60px #0000000d;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .site-layout {
    min-height: 100vh;
    width: 100vw;
    padding-left: var(--sidebar-opened-width);
  }
}
