.root {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  div[class*='ant-anchor-ink'] {
    display: none;
  }
  div[class*='ant-anchor ant-anchor-fixed'] {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    overflow: hidden;

    .link {
      height: 100%;
      padding: 0px 20px;
      position: relative;
      &::after {
        position: absolute;
        content: ' ';
        height: 2px;
        width: calc(100% - 10px);
        left: 5px;
        top: 0;
        right: 5px;
        transition: all 0.3s;
      }
      &[class*='ant-anchor-link-active']::after {
        background-color: var(--blue);
      }
      > a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .navbar {
    justify-content: flex-end;
    display: none;
    .navbar-item {
      &::after {
        top: 0;
        bottom: unset;
      }
      > span {
        padding: 0px 6px;
      }
    }
  }

  @media (max-width: 767px) {
    .anchor {
      display: none;
    }
    .navbar {
      display: flex;
    }
  }
}

.dropdown-menu {
  top: 64px !important;
  width: 100%;
  background: var(--white);
  zindex: 1 !important;
}
