.root {
  display: block;

  .menu-item {
    font-size: 16px;
    &[class*='ant-menu-item-selected'] {
      .icon-wrapper {
        opacity: 1;
      }

      [class='ant-typography'] {
        color: var(--blue);
      }
    }
    > span {
      display: flex;
      column-gap: 8px;
    }
    &:hover {
      .icon-wrapper {
        opacity: 1;
      }
    }

    .icon-wrapper {
      opacity: 0.3;
      transition: all 300ms;
    }
  }
}
